*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
}
.heading1 {
    background-image: url("images/wv_home_bkgnd_photo.jpg");
    background-size: 170px 260px;
}
.heading {
    margin-left: 175px;
    border-style: solid;
    border-color: white;
}

.about {
    font-family: bradley hand itc;
    font-size: 250%;
    color: blue;
    font-weight: bolder;
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
    text-align: center;
}
.img {
    margin: 1.5px;
    padding: 4px;
    border: 4px solid navy;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
}

img {
    display: inline;
    margin: 2px;
    border: 2px solid orange;
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
}
.desc {
    text-align: center;
    font-weight: bolder;
    font-size: 200%;
    font-family: bradley hand itc;
    color: green;
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
}
.feedback {
    text-align: center;
    margin-top: 0px;
    font-family: ar destine;
    font-size: 200%;
    color: navy;
    font-weight: bolder;
    background-image: url("images/whisps.jpg");
    background-size: 1610px 1000px;
    background-repeat: no-repeat;
}
#quicklistitems {
    text-align: center;

}
a:link {
    color: green;
}
a:visited {
    color: blue;
}
a:hover {
    color: navy;
}
a:active {
    color: yellow;
}